
<!DOCTYPE html>
<html>

<head>

<title> Profile </title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
<link rel="stylesheet" href="http://localhost:8080/css/bootstrap.css">

<style type="text/css">
.wall-post {
	width: 60%;
	padding: 4px;
	margin-top: 4px;
	border: 1px solid black;
	}

#wall {	
	float:left;
	width: 60%;
}

.hide {
	display: none;
}

.search-stuff {
	position: absolute;
	margin-top: 47px;
	margin-left: 407px;
}

.header {
	display: none;
	padding: 5px;
	margin: 10px;
	width: 350px;
	border: 1px solid black;
	float: left;
}

#delete {
	display: none;
}

.comments {
	padding-left: 15px;
	background-color: lightgray;
}

.all_comm {
	background-color: lightgray;
}

.results {
 	width: 160px;
  	padding: 4px;
  	margin-top: 0px;
  	border-bottom: 1px solid black;
  	background-color: #ffffff;
}

.results:hover {
  	background-color: #dddddd;	
}
</style>

<script type="text/javascript">
  <!-- 
    function updateSugg() {
      var term = document.getElementById('abc').value;
      $.getJSON('/suggest/'+escape(term), function(elements) {
      	if (elements.elements != undefined) {
       		var htmlOut = "";
        	for (var i=0; i<elements.elements.length; i++) {
        		var id = elements.elements[i].split(',')[0];
        		var fn = elements.elements[i].split(',')[1];
        		var ln = elements.elements[i].split(',')[2];
          		htmlOut += "<a href='/profile/" + id + "'><div class='results'>" +fn + ' ' + ln +"</div></a>\n";
        	}
       		$("#xyz").html(htmlOut);
       } else {
       		$("#xyz").html("");
       }
      });
    } // -->


var getProfileId = function() {
	var url = String(window.location);
	var split = url.split("/");
	var id = split[4];
	return id;
};

var load_posts = function(id) {
	var get_comments = function (id, callback){ 
		var commentList = [];
		$.getJSON('/loadcomments/' + id, function(comments){
			for (var j=0; j<comments.length; j++){
				commentList.push(comments[j]);
				var fullname = "";
				$.get("/findName/", function(e) {
					fullname = e.data;
				})
				$("#"+id).append('<div class="all_comm"><p class="comments">' + comments[j].creator + ": "+ comments[j].content + "</p> " +
						"<p class='comments' style='font-style:italic'> Posted at: " + comments[j].timeStamp + "</p></div>" );
			}
		callback(id, commentList);
		});
	}
	
	$.getJSON('/loadwall/' + id, function(elements){
		var html = "";
		for(var i=elements.length-1; i>-1; i--) {
			comment_tag = elements[i].comment_tag;
			html += "<div class= \' wall-post \' >"
						+ "<div class = \' tofrom \'>"
							+ "At " + elements[i].timeStamp + ", <a href=\'/profile/" + 
							elements[i].creator+ "\'>" + elements[i].creator + "</a>" +
					" wrote: </div>" +
						'<div id="' + elements[i].comment_tag + '" >' + elements[i].content + "<br />Comments: </div>"
					+ "</div>";
			get_comments(elements[i].comment_tag, function(id, commentList) {
				
			});
			
			html += '<form id = "' + elements[i].comment_tag + '">'+ 
			"<input class=\"content\" type=\'text\' name=\"comment\" placeholder=\"Leave a comment\" >" +
			'<input class="hide" type="text" name="comment_tag" value = "' +comment_tag + '">' +
			'<button class="postcomment" id="' + comment_tag + '"> Post Comment </button>' +
			'</form>';
			
			$("#posts").html(html);
			
			$(".postcomment").on('click', function(e) {
				e.preventDefault();
				var content = $(this).parent().find(".content").val();
				var tag = $(this).parent().find(".hide").val();
				$.post("/postcomment", {
					content: content,
					tag: tag,
				}, function(data, status) {
					//check for empty strings
					if(document.getElementById(comment_tag).value === "") {
							alert("No Post");				
						}else if(data === "error") {
						alert('Uh Oh, looks like something went wrong.');
						} else {
							document.getElementById("content").value = "";
							load_posts(target);
						}
					}
				);	
			});
		<!--closes the for loop --!>
		}
	});
};

$.get('/gethome', function(e) {
	res.redirect(e);
})

$.get('/getprofile2', function(e) {
	res.redirect(e);
})

window.onload = function() {
	$('.header').fadeIn(1000);
	$('#nav').fadeIn(1000);

	target = getProfileId();
	load_posts(target);
	$('#').html('/logout');
	
	$.get("/checkfriend/" + target, {}, function(data, status){
		if(!data){
			$("#addButton").click(function(e) {
				e.preventDefault();
				$.post("/addfriend/" + target, {}, function(data, status){
					if(data){
						alert("added friend");
						$('#addButton').css("display", "none");
						$('#delete').css("display", "block");
						$("#delete").click(function(e) {
							e.preventDefault();
							$.post("/delete/" + target, {}, function(data, status){
								if(data){
									alert("deleted friend");
									$('#delete').css("display", "none");
									$('#addButton').css("display", "block");
								} else {
									alert("did not delete friend");
								}
							});
						});
					} else {
						alert("did not add friend");
					}
				});
			});
		} else if(data){
			$('#addButton').css("display", "none");
			$('#delete').css("display", "block");
			$("#delete").click(function(e) {
				e.preventDefault();
				$.post("/delete/" + target, {}, function(data, status){
					if(data){
						alert("deleted friend");
						$('#delete').css("display", "none");
						$('#addButton').css("display", "block");
					} else {
						alert("did not delete friend");
					}
				});
			});
		}
	});
	
	$('form').bind("keypress", function(e) {
		  if (e.keyCode == 13) {               
		    e.preventDefault();
		    return false;
		  }
		});
	
	$("#submit").click(function() {
		$.post("/sendmessage", {
			content: document.getElementById("content").value,
			target: target,
			pvt: "0"
		}, function(data, status) {
			//check for empty strings
			if(document.getElementById("content").value === "") {
					alert("No Post");				
				}else if(data === "error") {
				alert('Uh Oh, looks like something went wrong.');
				} else {
					document.getElementById("content").value = "";
					load_posts(target);
				}
			}
		);
	});
}



</script>

</head>



<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PennBook</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active newsfeed"><a href="/gethome/">Home</a></li>
            <li><a href="/getprofile2/">My Profile</a></li>
            <li><a href="/logout/">Logout</a></li>
            <li><div class="container" style="width:130px">
    			<form action="" method="" onSubmit="return false">
      			<input type="text" name="thetext" style="margin-top:13px" id="abc" onKeyUp="updateSugg()"><br>
    			</form>
			</div></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="search-stuff" id="xyz"></div>
<br>
<br>
<br>
<br>
	<div id="friendButton">
		<button id="addButton" class="sample btn custom large h" data-h="0" data-s="0" data-l="26", data-p="10">Add as friend</button>
		<button id="delete" class="sample btn custom large h" data-h="0" data-s="0" data-l="26", data-p="10">Unfriend</button>
	</div>
	
	<div class="header">
		<h2> <%= profile.firstName + " " + profile.lastName %> </h2>
		<p> Gender: <%= profile.gender %></p>
		<p> Email: <%= profile.email %> </p>
		<p> Birthday: <%= profile.birthday %> </p>
		<p> Network: <%= profile.network %> </p>
		<p> Interests: <%= profile.interests %> </p>
		<img src = <%= profile.image %> height=200px width=200px</img>
	</div>

  <div id="wall">
  	<div id="postMessage">
  	<form action="/sendmessage/1" method="post">
		<input type="text" class="input-border-radius" name="content" placeholder="Say Something!" id="content">
	</form>
  	<button id="submit" type="submit"> Post </button>
  	</div>
  	<div id="posts">
  	</div>
  </div>


</body>
</html>

