<!DOCTYPE html>
<html>
<body>
  <h1>Lookup results</h1>

  <table border="1">
  <% restaurants.forEach(function(x) { %>
  <tr><td><%= x.name %></td><td><%= x.latitude %></td><td><%= x.longitude %></td>
  <td><%= x.description %></td>
  <td><%= x.creator %></td>
  
  </tr>
  <% }); %>
  </table>

 <form action="/addrestaurant" method="post">
    <input type="text" name="latitude" placeholder="latitude">
    <input type="text" name="longitude" placeholder="longitude">

    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="Description Or Review">
    
    <input type="submit" value="Add Restaurant">
  </form>
    
<a href="/logout"> logout </a>


</body>
</html>
